//===============================================================================
// IMPORTS
//===============================================================================
// VARIABLES: define mixins for later use
@import "_variables";

// MIXINS: define mixins for later use
@import "_mixins";

// FONTS: @font-face rules 
@import "_fonts";

// NORMALIZE: normalize.css from ttp://necolas.github.io/normalize.css/
@import "_normalize.scss";

// THIRD-PARTY: styles for JS libs etc

// ELEMENTS: styles for standard html elements
@import "_elements";

// HELPERS: helper classes. clear-fix etc 
@import "_helpers";

// LAYOUT: grids, wraps etc
@import "_layout";

// TYPOGRAPHY:
@import "_typography";

// SHARED-STYLES: styles used across multiple pages
@import "_shared";

// GLOBAL-ELEMENTS: elements that are used on every page. Eg headers & footers
@import "_header";
@import "_footer";

// PAGES: styles per page

// BROWSER-FIXES: styles per page
@import "_browser-fixes";

// MEDIA-QUERIES:
@import "_media-queries";

//===============================================================================
// DEV-STYLES
//===============================================================================
// playground for development
canvas{
}

p{
  font-size: 1.25em;
}

body{
  text-align: center;
  padding-top: 3em;
  // font-family: "ff-meta-serif-web-pro";
  font-family: "eskapade-fraktur";
}

h1,
h2,
h3{
  font-family: "metalista-web";
  font-weight: normal;
}

.steps{
  margin: 2em 0;
  text-align: left;

  p{
    margin-bottom: 1.5em;
  }

  .small{
    font-style: italic;
    margin-top: -1.5em;
    font-size: .75em;
  }
}

h1{
  margin-bottom: 0;
}

h3{
  margin-bottom: 0;
}

input{
  width: 100%;
  font-family: "metalista-web";
  padding: .1em;
  font-size: 4em;
  margin-bottom: .5em;
  border: 0;
  background: hsl(0,0,95);
  text-align: center;

  &:hover,
  &:focus{
    background: hsl(0,0,93);    
  }

  &:focus{
    -webkit-appearance: none;
    outline: none;
  }
}

button{
  width: 100%;
  margin-bottom: .5em;
  font-size: 4em;
  background: black;
  font-family: "metalista-web";

  &:hover{
    background: hsl(0,0,20)
  }
}

.label{
  margin: 0;
  text-align: left;
}

.name{
  font-family: "metalista-web";
  margin-top: 1em;
  display: block;
}